  
#ytSub{
    border:5px solid black;
    border-radius:20px;
    font-size: smaller;
    background-color: black;
    color:white;
    
}

.userMessage{
    margin-left:50px;
}

#video-info{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.like_dislike{
cursor:pointer;
}