.like_dislike, .like-like, .share{
    width: 15px;
    display: inline-block;
} 
.profile_pic{
    width:5%;
    height:5%;
    border: 2px solid;
    border-radius: 50%;
    margin: 0;
    
}
.message input{
    width: 950px;
}
.userMessage{
    display:flex;
    
}
@media(max-width:320px){
    #users{
        width:320px;
    }
    .profile_pic{
        width:30px;
    }

    .message input{
        width: 260px;
    }
}